.tituloC{
    color: rgb(240, 70, 197);
    font-weight: 100;
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    h2 {
        color: rgb(255, 255, 255);
        font-weight: 300;
    }
    h1:hover {
        color: rgb(17, 0, 255);
    }
}