.tituloCo{
    color: rgb(133, 2, 2);
    font-weight: 100;
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    h2 {
        color: rgb(223, 140, 140);
        font-weight: 300;
    }
    h1:hover {
        color: yellow;
    }
    .formulario {
        display: flex;
        justify-content: center;
        padding: 20px;

    }
}