header {
    background-color: rgb(107, 48, 27);
    background-image: url(https://i.pinimg.com/originals/42/1a/50/421a50739c3f5c2cfe350f7abbff4d0b.jpg);
    background-position: bottom;

    }
    section {
        background-color: rgb(118, 252, 85);
        background-image: url(https://www.lv16.com.ar/archivos/img/o/112612_1536574368_863.jpg);
        background-size: cover;
        background-position: right;
    }    
    footer {
        background-color: rgb(107, 48, 27);
        background-image: url(https://pbs.twimg.com/media/CVNzk38WwAAGhGT.jpg);
        background-position: center;
        border: 5px solid rgb(75, 31, 37);

        }    