.tituloP {
    color: rgb(66, 178, 243);
    font-weight: 100;
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    h2 {
        color: rgb(0, 0, 0);
        font-weight: 300;
    }
    h1:hover {
        color: rgb(17, 0, 255);
    }
}